@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}


* {
    font-family : 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background:whitesmoke;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}

.logo {
    text-decoration: none;
    color: rgb(44, 47, 248);
    font-size: 2.5rem;
    font-weight: 600;

}

.navigation a{
    text-decoration: none;
    color: rgb(44, 47, 248);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem;
}

.navigation a:hover {
    color:rgb(157, 16, 238)
    

}


section {
    padding: 100px 200px;
    
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(bgimage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.main h2 {
    color:white;
    font-size: 1.6em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:rgb(31, 70, 243);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    color:white;
    background-color: rgb(31, 70, 243) ;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93em 2.18em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    
}


.main-btn:hover {
    background-color: rgb(36, 32, 238);
    transform: scale(1.1);
}

.about-me {
    background: rgb(182, 234, 250);
}

.title {
    display: flex;
    justify-content: center;
    color:rgb(32, 90, 250);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.card {
    background-color: rgb(226, 238, 247);
    width: 30rem;
    padding: 25px;
    margin: 15px;
    box-shadow: 0 10px 5px lightblue;
    border-radius: 15px;
    transition: 0.7s ease;
    



}
.icon {
    text-align: center;
    font-size: 6rem;
    color: rgb(24, 103, 250);
    margin: 10px;
}


.info {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
}

.info h3 {
    color: blueviolet;
    margin-bottom: 8px;
    text-align: center;
}

.info span {
    display: inline-block;
    color: cornflowerblue;
    font-size:1.9em;
    font-weight: 600;
    margin-top: 30px;
}

.card:hover {
   transform: scale(1.1);
}

.projects-title {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.projects {
    background-color: rgb(39, 112, 248);
}

.projects .content {
    margin-top: 40px;
    flex-wrap: wrap;
    


}

.project-card {
    background-color: white;
    border: 1px solid #fff;
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.project-card:hover {
    transform: scale(1.1);
}

.project-image:hover{
    opacity: 0.9;
}
  

.project-image img {
    width:100%;
}

.project-info {
    padding: 1em;
    
}

.project-category {
    font-size: 1.8em;
    color: black;

}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: rgb(0, 60, 255);
}

.more-details:hover {
    color: rgb(83, 43, 226);
}

.cards-contact .card {
    width: 250px;
    height: 200px;

}

.cards-contact .info {
    font-size : 1.2em;
    text-align: center;
    
}

.footer {
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
}

.footer-title {
    color:white;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-title span {
    color: rgb(60, 13, 189);
    font-weight: 600;
    font-size: 12px;
}

.social-icons a{
    margin-left:10px ;
    
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .title {
        font-size: 1.2em;
    }

    section {
        padding: 80px 20px;

    }
    .main h2 {
        font-size: 1em;
    }
    
    .main h3 {
        font-size:0.8em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width:641px){
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8rem;
    }

    .main h3 {
        font-size: 1.4rem;
    }
}

@media (max-width:413px){
    .cards-contact .content {
         font-size: 1rem;
    }
}
